<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Easter Egg Gifs</title>
    <link th:href="@{/styles/generic.css}" rel="stylesheet" />
</head>
<body>
<div th:replace="index"></div>
<table class="styled-table">
    <thead>
        <tr>
        	<th>ID</th>
            <th>Content</th>
        </tr>
    </thead>
    <tbody>
	<tr th:if="${eggs.empty}">
            <td colspan="2">No easter eggs saved</td>
        </tr>
        <tr th:each="egg : ${eggs}">
        	<td><span th:text="${egg.id}"></span></td>
            <td><span th:text="${egg.content}"></span></td>
        </tr>
    </tbody>
</table>
</body>
</html>