<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Self Roles</title>
    <link th:href="@{/styles/generic.css}" rel="stylesheet" />
</head>
<body>
<div th:replace="index"></div>
<table class="styled-table">
    <thead>
        <tr>
        	<th>ID</th>
            <th>Webhook URL</th>
        </tr>
    </thead>
    <tbody>
	<tr th:if="${hooks.empty}">
            <td colspan="2">No webhooks saved</td>
        </tr>
        <tr th:each="hook : ${hooks}">
        	<td><span th:text="${hook.channelId}"></span></td>
            <td><span th:text="${hook.webhookUrl}"></span></td>
        </tr>
    </tbody>
</table>
</body>
</html>