<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome Messages</title>
    <link th:href="@{/styles/generic.css}" rel="stylesheet" />
</head>
<body>
<div th:replace="index"></div>
<table class="styled-table">
    <thead>
        <tr>
        	<th>ID</th>
            <th>Welcome Message</th>
        </tr>
    </thead>
    <tbody>
	<tr th:if="${messages.empty}">
            <td colspan="2">No welcome messages saved</td>
        </tr>
        <tr th:each="message : ${messages}">
        	<td><span th:text="${message.id}"></span></td>
            <td><span th:text="${message.welcomeMessage}"></span></td>
        </tr>
    </tbody>
</table>
</body>
</html>